body {
  font-family: sans-serif;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper-small {
  max-width: 666px;
  margin: 0 auto;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  padding: 10px;
}
