html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper-small {
  max-width: 500px;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.db {
  display: block;
}

.success {
  color: limegreen;
}

.error {
  color: crimson;
}

.input {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 5px;
  margin-bottom: 10px;
}

.input-submit {
  border: 0;
  border-radius: 0;
  padding: 5px 10px;
  background-color: #333;
  font-weight: bold;
}

.input-submit:hover {
  background-color: #000;
}

.input--full {
  width: 100%;
}

.input--100 {
  width: 100px;
}

.input--200 {
  width: 200px;
}

.input--300 {
  width: 300px;
}

.input--400 {
  width: 400px;
}

.input--500 {
  width: 300px;
}

.band-item {
  padding: 10px;
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-band {
  /*width: 700px;*/
}

.add-band-inputs {
  display: flex;
  flex-wrap: wrap;
}

.add-band-input {
  margin-right: 20px;
}
.login-form {
  max-width: 320px;
  margin: 0 auto;
}

.login-input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 5px;
  margin-bottom: 10px;
}
