<?php
/**
 * Specify the admin credential here to access the admin area
 * located on the /admin route
 */
return [
  'settings' => [
    'admin' => [
      'username' => 'ExampleUsername',
      'password' => 'ExamplePassword'
    ],
  ],
];
