{% extends 'app.twig' %}

{% block header %}
  <h1 class="tac">Square Circle Random Pantheon</h1>
  <h2 class="tac">ADMIN</h2>
  <nav class="tar">
    <a href="{{ path_for('home') }}" class="btn">Retour au site</a>
    <a href="{{ path_for('logout') }}" class="btn">Se déconnectter</a>
  </nav>
{% endblock %}

{% block main %}
  <div class="add-band">
    <h3>Add a band</h3>
    <form class="">
      <div class="add-band-inputs">
        <div class="add-band-input">
          <label for="bandName" class="db">Band name</label>
          <input type="text" name="bandName" id="bandName" class="input input--200" placeholder="David Maxim Micic, A.i(d)" autocomplete="off">
        </div>
        <div class="add-band-input">
          <label for="bandLink" class="db">Bandcamp link to artist main page</label>
          <input type="text" name="bandLink" id="bandLink" class="input input--300" placeholder="https://davidmaximmicic.bandcamp.com/" autocomplete="off">
        </div>
      </div>
      <input type="submit" class="login-submit" value="Add this band already !">
    </form>
  </div>
  <h3>Bands list</h3>
  <table>
    <thead>
      <tr>
        <th>Order</th>
        <th>Band name</th>
        <th>Bandcamp link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>David Maxim Micic</td>
        <td>https://davidmaximmicic.bandcamp.com/</td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block footer %}
<footer>
  <hr>
  <p><small><em>"Do you bleed ? You will."</em> - Batman to Superman</small></p>
</footer>
{% endblock %}
