{% extends 'app.twig' %}

{% block header %}
  <h1 class="tac">Square Circle Random Pantheon</h1>
  <h2 class="tac">ADMIN</h2>
  <nav class="tar">
    <a href="{{ path_for('home') }}" class="btn">Retour au site</a>
    <a href="{{ path_for('home') }}" class="btn">Se déconnectter</a>
  </nav>
{% endblock %}

{% block main %}
  <table>
    <thead>
      <tr>
        <th>Order</th>
        <th>Band name</th>
        <th>Bandcamp link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>David Maxim Micic</td>
        <td>https://davidmaximmicic.bandcamp.com/</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
