<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Square Circle random pantheon</title>
  <meta name="description" content="Bandcamp pantheon of all the best prog artist cassified by Square Circle.">
  <link rel="stylesheet" type="text/css" href="{{ path_for('home') }}css/style.css">
</head>
<body>
<div class="wrapper">
{% block header %}
  <header>
    <h1 class="tac">Square Circle Random Pantheon</h1>
    <h2>Bandcamp pantheon of all the best prog artist classified by Square Circle.</h2>
  </header>
{% endblock %}
{% block main %}
  <main>
    <h3>Here's your random band to listen to :</h3>
    <a href="" class="btn"></a>
    <h4>Unfiltered list of all the artist</h4>
    <div class="artist-list">
      {% for band in bands %}
        <a href="{{ band.link }}" class="band-item">{{ band.name }}</a>
      {% endfor %}
    </div>
  </main>
{% endblock %}
{% block footer %}
  <footer>
    <hr>
    <p>Initiative made by a great group of friends who listen to some weird ass shit.</p>
    <p><small><em>* Band order may have been altered in some logical way</em></small></p>
    <p><small><em>* May or may not contain actual prog or djent</em></small></p>
  </footer>
{% endblock %}
</div>
</body>
</html>
