<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Square Circle random pantheon</title>
  <meta name="description" content="Bandcamp pantheon of all the best prog artist cassified by Square Circle.">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="wrapper">
{% block header %}
  <header>
    <h1 class="tac">Square Circle Random Pantheon</h1>
    <h2>Bandcamp pantheon of all the best prog artist classified by Square Circle.</h2>
  </header>
{% endblock %}
{% block main %}
  <main>
    <h3>Here's your random band to listen to :</h3>
    <a href="" class="btn"></a>
    <h4>Unfiltered list of all the artist</h4>
    <div class="artist-list">
      <a href="" class="btn"></a>
    </div>
  </main>
{% endblock %}
{% block footer %}
  <footer>
    <hr>
    <p><small><em>"Do you bleed ? You will."</em> - Batman to Superman</small></p>
  </footer>
{% endblock %}
</div>
</body>
</html>
