{% extends 'app.twig' %}

{% block header %}
  <h1 class="tac">Square Circle Random Pantheon</h1>
  <h2 class="tac">ADMIN LOGIN</h2>
  <nav class="tar">
    <a href="{{ path_for('home') }}" class="btn">Retour au site</a>
  </nav>
{% endblock %}

{% block main %}

  <form action="{{ path_for('login') }}" method="post" class="login-form" autocomplete="off">
    <fieldset>
      <legend></legend>
    <div>
      <label for="adminName">Name</label>
    </div>
    <input id="adminName" type="text" name="adminName" class="login-input">
    <div>
      <label for="adminPassword">Password</label>
    </div>
    <input id="adminPassword" type="text" name="adminPassword" class="login-input">
    <div>
      {{ csrf.field | raw }}
      {% for errormsg in flash('loginerror') %}
        {{ errormsg | raw }}
      {% endfor %}
      <input type="submit" value="Login" class="login-submit">
    </div>
    </fieldset>
  </form>
{% endblock %}
